# ENV

venv
.env
env


# Executables
dist
build
*.exe

# Resources & Documents
docs

# Pip
Pipfile.lock


# Cache
__pycache__
*.pyc

# Database
*.sqlite3


# VIdeos 
*.mp4


# Installers
*.spec
*.aip


# AdvancedInstaller
*SetupFiles
*cache


# Large files
*.zip
node_modules
*.pdf


media/